<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:tool="http://www.springframework.org/schema/tool"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache
			http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc
			http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee
			http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/jms
			http://www.springframework.org/schema/jms/spring-jms.xsd
		http://www.springframework.org/schema/lang
			http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/oxm
			http://www.springframework.org/schema/oxm/spring-oxm.xsd
		http://www.springframework.org/schema/task
			http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tool
			http://www.springframework.org/schema/tool/spring-tool.xsd
		http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util
			http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/websocket
			http://www.springframework.org/schema/websocket/spring-websocket.xsd">

	<context:property-placeholder location="classpath:spring/jdbc/jdbc.properties"/>

	<context:component-scan base-package="spring">
		<context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration"/>
		<!-- <context:exclude-filter type="regex" expression="spring.javaconfig.*"/> -->
	</context:component-scan>

	<!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" p:url="${jdbc.url}" p:username="${jdbc.username}" p:password="${jdbc.password}"/> -->

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
			</list>
		</property>
	</bean>

</beans>